*{
    margin:0;
    padding:0;
    border:none;
    font-family: 'Open Sans', sans-serif;
}
body {
    overflow: hidden;
    background-color: #ededed;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,70,107,1) 100%);
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
    list-style: none;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 170px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #000;
    padding: 0px 12 px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
    display: inline-block;
}
/*search*/
#header .search-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    background-color: #f44336;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/*cart*/
#header .cart-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .cart-btn:hover{
    background-color: #f44336;
}
#header .cart-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/*user*/
#header .user-btn{
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .user-btn:hover{
    background-color: #f44336;
}
#header .user-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
.to {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(100px,auto);
}
 
.form {
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 470px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
}
h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}
i.fab.fa-app-store-ios {
    display: block;
    margin-bottom: 50px;
    font-size: 28px;
}
 
label {
    margin-left: -126px;
    display: block;
    font-weight: lighter;
 
}
input{
    display: block;
    border-bottom: 2px solid #00BCD4;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
}
input[type="text"] {
    padding: 5px;
    width: 70%;
}
 
input#submit {
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background: linear-gradient(to right, #fc00ff, #00dbde);
}
input#submit:hover{
 
    background: linear-gradient(to right, #fc466b, #3f5efb); 
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}